@media only screen and (max-width: 280px){
    .swiper-container {
        .swiper-wrapper{
            .swiper-slide {
                width: 250px !important;
                .card{
                    .card_text{
                        h2{
                           font-size: 20px !important;
                        }
                        p{
                            line-height: 15px !important;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

}
@media only screen and (min-width: 360px){


}
@media only screen and (min-width: 375px){


}
@media only screen and (min-width: 390px){


}
@media only screen and (min-width: 393px){


}
@media only screen and (min-width: 412px){


}

@media only screen and (min-width: 414px){


}
@media only screen and (min-width: 540px){


}
@media only screen and (min-width: 768px){
    .section_skills{
        .swiper{
            .swiper-button-next, .swiper-button-prev{
                display: block;
                color: var(--color-orange);
                transform: scale(0.5);
            }
        }
    }
    .section_project{
        .swiper-container {
            .swiper-button-next, .swiper-button-prev{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
    }
}
@media only screen and (max-width: 820px){

    
}
@media only screen and (min-width: 912px){


}
@media only screen and (min-width: 1024px){


}
@media only screen and (min-width: 1280px){


}
@media only screen and (min-width: 1281px){


}